.button-size{
    height: 50px;
    width: 279px;
    border-radius: 8px;
}
.button-color{
    background-color: rgb(89 152 175);
}

.button-font{
    font-family: "SFCompactDisplay-Bold";
    font-size:14;
    color:rgb(255 255 255);
}

.button-position{
    margin-top:28pt;
    margin-left: 48pt;
}

.link-text{
    font-family: "SFCompactDisplay-Light";
    font-size:14px;
    margin-left: 48pt;
    margin-right: 49pt;
    margin-top:16px;
    color:rgb(28 187 235);
    text-decoration: none;
}