.n-a-button-size{
    height: 50px;
    width: 279px;
    border-radius: 8px;
}

.n-a-button-color{
    background-color: rgb(105 105 105);
}

.n-a-button-font{
    font-family: "SFProText-Bold";
    font-size:14;
    color:rgb(255 255 255);
}

.n-a-button-position{
    margin-bottom: 37pt;
    margin-left: 48pt;
}
.n-a-link-text{
    font-size: 16px;
    text-align: center;
    margin-left: 48pt;
    margin-bottom: 16pt;
    margin-top:267px;
    color:rgb(76 74 75);
    text-decoration: none;
}