html,body {
  background-color: rgb(235 235 235);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: 'SF Compact Display Thin';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Thin'), url('./sf-font-family/sf-compact-display-thin-58646eb43a785.woff') format('woff');
}
  
  
@font-face {
  font-family: 'SF Compact Display Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SF Compact Display Medium'), url('./sf-font-family/sf-compact-display-medium-5864711817c30.woff') format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "SFProText-Bold", "SFCompactDisplay-Regular";
}
/*SFCompactDisplay-RegularSFProText-Bold*/